<div id="_desktop_storeinfo" class="{{ column_class }}">
	<div class="ishistoreinfoblock footer-block banner-alignment-{{alignment}}">
	  <div id="ishistoreinfo-container" class="ishistoreinfo-inner">
	      <a href="{{ storehome }}" class="store-logo">
	        <img src="{{ image }}" alt="footer-logo">
	      </a>
	      <div class="store-description">
	        <p>{{ config_comment }}</p>
	      </div>
	  </div>
	</div>
</div>
