<h3 class="box-heading">{{ text_service }}</h3>
<ul class="list-unstyled" data-match-height="items-f">
	<li><a href="{{ contact }}">{{ text_contact }}</a></li>
	<li><a href="{{ return }}">{{ text_return }}</a></li>
</ul>