<div class="container">
	<div class="row">
		<div class="swiper-viewport">
			<div class="swiper-container jetimpex-product-slider">
				<div class="swiper-wrapper">
					{% for product in products %}
						<div class="swiper-slide">
							<div class="product-thumb transition">
								<div class="image col-xs-12 col-sm-5">
									<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
									</a>
								</div>
								<div class="caption col-xs-12 col-sm-7">
									<div class="name">
										<a href="{{ product.href }}">{{ product.name }}</a>
									</div>
									<div class="description">{{ product.description }}</div>
									<div class="buttons clearfix">
										{% if product.price %}
											{% if not product.special %}
												<div class="pull-left">
													<span class="price">{{ product.price }}</span>
													{% if product.tax %}
														{# <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> #}
													{% endif %}
												</div>
												<div class="pull-left">
													<button class="btn btn-ji-link" type="button" onclick="cart.add('{{ product.product_id }}');">
														{{ button_cart }}
													</button>
												</div>
											{% else %}
												<div class="pull-left">
													<span class="price-new">{{ product.special }}</span>
													{# <span class="price-old">{{ product.price }}</span> #}
													{% if product.tax %}
														{# <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> #}
													{% endif %}
												</div>
												<div class="pull-left">
													<button class="btn btn-ji-link" type="button" onclick="cart.add('{{ product.product_id }}');">
														{{ button_cart }}
													</button>
												</div>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>