{% if (cats) %}
	<div class="box jet-category">
		<div class="box-category">
			<h5>{{ title }}</h5>
			<ul class="list-unstyled">
				{% for cat in cats %}
					<li class="item" data-match-height="items-jc">
						<a href="{{ cat.href }}">
							<h6>{{ cat.name }}</h6>
							<img src="{{ cat.image }}" class="img-responsive" alt="">
							<span class="count">{{ cat.counter }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}