</main>
<div id="_mobile_column_left" class="container col-3"></div>
<div id="_mobile_column_right" class="container"></div>
<footer id="footer" class="{{ ishome }}">
  <div class="footer-container">
    <div class="container">
      <div class="footer-before">
        <div class="row">
          {{ footer_before }}
        </div>
      </div>
      <div class="footer-middle">
        <div class="row">
          <div id="_mobile_block_newsletter" class="block_newsletter {{ column_class }}"></div>
         {{ footer_middle }} 
        </div>
      </div>
    </div>
  </div>
  <div class="footer-after">
    <div class="container">
      <div class="row">         
        <div class="col-md-6 col-xs-12px">
          <p class="footer-aftertext">{{ powered }}</p>
        </div>
        <div class="col-md-6 col-xs-12px">
          {{ footer_after }}
        </div>
      </div>
    </div>
  </div>
    <!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<a id="slidetop" href="#" ></a>
{{ popup }}
<div class="OpenCart-cookies section">
  <div id="cookieconsent">
  	<div class="message">
  		<p> {{ text_footer_cookies }} </p>
  	</div>
  	<button type="button" class="close btn" data-dismiss="modal">{{ text_got_it }}</button>
  </div>
</div>
</footer>
{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
</body></html>
