{{ header }}
<div id="common-home">
 {{ column_left }}
    <div id="content">{{ content_top }}
    <div class="content-middle">
        <div class="container">
            <div class="row">
            {{ content_middle }}
            </div>
        </div>
    </div>
        {{ content_bottom }}
    </div>
    {{ column_right }}</div>

{{ footer }}