<div id="search">
    <span class="search-tag">{{ serch_product }}</span>
    <input id="ajax-search-text" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg">
    <div class="ajaxishi-search" style="display: none;"><ul></ul></div>
    <span class="input-group-btn">
        <button id="ajax-search-btn" type="button" data-lang="{{ language }}" data-lang="{{ language }}" class="btn btn-light btn-lg"><i class="fa fa-search"></i></button>
    </span>
</div>
<script>
    (function() {
        document.getElementById('ajax-search-text').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                document.getElementById('ajax-search-btn').click();
            }
        });
    }());
</script>