<section id="{{ ishi_randomnumer }}" class="ishislider">
        <div class="owl-carousel">
            {% for ishislider in ishisliders %}
                <div class="item">
                    <a href="{{ ishislider.link }}" class="slideshow__link">
                        <img src="{{ ishislider.image }}" alt="{{ ishislider.title }}" class="img-responsive desktop-slider" />
                        <img src="{{ ishislider.imagehover }}" alt="{{ ishislider.title }}" class="img-responsive mobile-slider" />
                        <div class="container">
                          <div class="slider-content col-lg-6 col-md-6 col-sm-6 col-xs-6 {{ishislider.textposition}} desktop-slider" style="text-align:{{ishislider.textalignment}}">
                            {% if ishislider.subtitle %}
                              <div class="sub-title" style="color: {{ ishislider.subtitlecolor }};">{{ ishislider.subtitle }}</div>
                            {% endif %}
                            {% if ishislider.title %}
                              <div class="main-title" style="color:{{ ishislider.titlecolor }};background-color:{{ ishislider.titlebgcolor}};">{{ ishislider.title }}</div>
                            {% endif %}
                            {% if ishislider.desc %}
                              <div class="desc" style="color: {{ ishislider.desccolor }};">{{ ishislider.desc }}</div>
                            {% endif %}
                            {% if ishislider.btntext %}
                              <div class="slider-btn"><span class="btn-primary btn">{{ ishislider.btntext }}</span></div>
                            {% endif %}
                          </div>

                          <div class="slider-content col-lg-5 col-md-6 col-sm-6 col-xs-6 col-6 {{ishislider.mobiletextposition}} mobile-slider" style="text-align:{{ishislider.mobiletextalignment}}">
                            {% if ishislider.subtitle %}
                              <div class="sub-title" style="color: {{ ishislider.subtitlecolor }};">{{ ishislider.subtitle }}</div>
                            {% endif %}
                            {% if ishislider.title %}
                              <div class="main-title" style="color:{{ ishislider.titlecolor }};background-color: {{ishislider.titlebgcolor}}">{{ ishislider.title }}</div>
                            {% endif %}
                            {% if ishislider.desc %}
                              <div class="desc" style="color: {{ ishislider.desccolor }};">{{ ishislider.desc }}</div>
                            {% endif %}
                            {% if ishislider.btntext %}
                              <div class="slider-btn"><span class="btn-primary btn">{{ ishislider.btntext }}</span></div>
                            {% endif %}
                          </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
      <script type="text/javascript">
        $('#{{ ishi_randomnumer }} .owl-carousel').owlCarousel({
            loop:true,
            nav:{{ navigation }},
            dots:{{ dot }},
            autoplay:{{ autoplay }},
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            animateOut: 'fadeOut',
            dotsClass: 'owl-dots {{ dot_style }}',
            navClass: ["owl-prev {{ navigation_style }}","owl-next {{ navigation_style }}"],
            navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
            responsive:{
                0:{
                    items:1
                }
            }
        });
      </script>
</section>
<div id="_mobile_servicesblock"></div>