{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
        <div class="float-end">
          <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
          <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa fa-reply"></i></a>
        </div>
        <h1>{{ heading_title }}</h1>
        <ol class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card panel-default">
      <div class="card-header">
        <i class="fa fa-pencil"></i>{{ text_edit }}
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
         
          <div class="row mb-3 required">
            <label class="col-sm-2 col-form-label" for="input-column">{{ entry_column }}</label>
            <div class="col-sm-10">
              <select name="column" id="input-column" class="form-control">
                <option value="1" {% if column == 1 %} selected=selected {% endif %}>1</option>
                <option value="2" {% if column == 2 %} selected=selected {% endif %}>2</option>
                <option value="3" {% if column == 3 %} selected=selected {% endif %}>3</option>
                <option value="4" {% if column == 4 %} selected=selected {% endif %}>4</option>
                <option value="6" {% if column == 6 %} selected=selected {% endif %}>5</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_facebook }}</label>
            <div class="col-sm-10">
              <input type="text" name="facebook" value="{{ facebook }}" placeholder="{{ entry_facebook }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_twitter }}</label>
            <div class="col-sm-10">
              <input type="text" name="twitter" value="{{ twitter }}" placeholder="{{ entry_twitter }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_youtube }}</label>
            <div class="col-sm-10">
              <input type="text" name="youtube" value="{{ youtube }}" placeholder="{{ entry_youtube }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_gplus }}</label>
            <div class="col-sm-10">
              <input type="text" name="gplus" value="{{ gplus }}" placeholder="{{ entry_gplus }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_rss }}</label>
            <div class="col-sm-10">
              <input type="text" name="rss" value="{{ rss }}" placeholder="{{ entry_rss }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_pinterest }}</label>
            <div class="col-sm-10">
              <input type="text" name="pinterest" value="{{ pinterest }}" placeholder="{{ entry_pinterest }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_vimeo }}</label>
            <div class="col-sm-10">
              <input type="text" name="vimeo" value="{{ vimeo }}" placeholder="{{ entry_vimeo }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_instagram }}</label>
            <div class="col-sm-10">
              <input type="text" name="instagram" value="{{ instagram }}" placeholder="{{ entry_instagram }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
