<section id="{{ ishi_randomnumer }}" class="ishiproductsblock container">
    <div class="section-header">  
      <h3 class="home-title">{{ heading }}</h3>
	  <p class="desc"> {{ desc }}</p>
    </div>
    <ul class="ishiproductstab nav nav-tabs clearfix">
	    {% if featured %}
	      <li class="nav-item">
	        <a class="nav-link active" href="#featured-products-block{{ tab_randomnumer }}" data-bs-toggle="tab">{{ heading_featured }}</a>
	      </li>
	    {% endif %}
	    {% if bestseller %}
	      <li class="nav-item">
	        <a class="nav-link" href="#bestseller-products-block{{ tab_randomnumer }}" data-bs-toggle="tab">{{ heading_bestseller }}</a>
	      </li>
	    {% endif %}
	    {% if new %}
	      <li class="nav-item">
	        <a class="nav-link" href="#new-products-block{{ tab_randomnumer }}" data-bs-toggle="tab">{{ heading_new }}</a>
	      </li>
	    {% endif %}
	    {% if special %}
	      <li class="nav-item">
	        <a class="nav-link" href="#special-products-block{{ tab_randomnumer }}" data-bs-toggle="tab">{{ heading_special }}</a>
	      </li>
	    {% endif %}
		{% if category %}
			{% for category in product_categories %}
			  <li class="nav-item">
				<a class="nav-link " href="#category-block{{ category.category_id }}-{{ tab_randomnumer }}" data-bs-toggle="tab">{{ category.name }}</a>
			  </li>
			{% endfor %}
		{% endif %}
	</ul>
	<div class="tab-content">
		    <div class="tab-pane active" id="featured-products-block{{ tab_randomnumer }}">
		     <div class="block_content">  
		     	<div class="row">      
			        <div class="owl-carousel"> 
			          {% set counter = 1 %}
			          {% set lastproduct = featured|length %} 
			          {% for product in featured %}
			            {% if product_row != 1 %}
			              {% if counter % product_row == 1 %}
			                <div class="multilevel-item">
			                  {% endif %}
			                  {% endif %}
			                <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">
				                <div class="item product-container" data-countdowntime="{{ product.date_end }}"> 
				                    <div class="product-thumb"> 
				                      <div class="image">
				                        <a href="{{ product.href }}">
				                          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
				                            {% if product.extra != '' and hover_image == 1 %}
				                              <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
				                            {% endif %}
				                        </a>
				                        {% if product.stock_status %} <span class="outstock-overlay">{{ product.stock_status }}</span> {% endif %}
				                        <div class="button-group">  
				                            <div class="btn-quickview"> 
				                              <div class="quickview-button button" data-bs-toggle="tooltip" title=" {{ quick_view }}"> 
				                                <a class="quickbox" href="{{ product.quick }}">
					                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="quickview-eye-open" viewBox="0 0 900 900"><title>eye-open</title>
															<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
															C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
															c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
															C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
															<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
															<path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"></path>
														</symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview-eye-open" x="20%" y="18%"></use></svg>
													<i class="fa fa-eye" aria-hidden="true"></i>
													<span class="lblcart d-none">Quick View</span>
				                                </a>
				                              </div>
				                            </div>
				                            <div class="btn-wishlist">
					                            <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}">
					                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="heart-fillshape-outline" viewBox="0 0 1050 1050"><title>heart-fillshape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414c-6.854-6.85-14.087-13.323-21.698-19.41c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824C475.078,202.133,457.19,236.016,421.405,271.795z"></path>
														</symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-fillshape-outline" x="24%" y="26%"></use></svg>
					                            </button>
					                        </div>
					                        <div class="btn-compare"> 
					                            <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="report" viewBox="0 0 1200 1200"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m480 258.667969h60v220h-60zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m200 118.667969h60v360h-60zm0 0"></path><path d="m340-1.332031h60v480h-60zm0 0"></path><path d="m60 358.667969h60v120h-60zm0 0"></path><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"></path><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"></path></symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report" x="22%" y="28%"></use></svg>
					                            </button>
					                        </div>
									    </div>
				                        {% if product.rating %}
				                          <div class="rating">
				                            {% for i in 1..5 %}
				                              {% if product.rating < i %} 
				                                <span class="fa fa-stack">
				                                  <i class="fa fa-star gray fa-stack-2x"></i>
				                                </span> 
				                              {% else %} 
				                                <span class="fa fa-stack">
				                                  <i class="fa fa-star yellow fa-stack-2x"></i>
				                                </span> 
				                              {% endif %}
				                            {% endfor %}
				                        </div>
				                          {% else %}
				                          <div class="rating">
				                            {% for i in 1..5 %}
				                            <span class="fa fa-stack">
				                              <i class="fa fa-star gray fa-stack-2x"></i>
				                              </span>
				                            {% endfor %}
				                          </div>
				                        {% endif %}
				                        {% if product.date_end %}
					                    <div class='countdown-container'>
					                        <div class='countdown-days counter'>
					                          <span class="data"></span>
					                          <span class="lbl">{{ days_name }}</span>
					                        </div>
					                        <div class='countdown-hours counter'>
					                          <span class="data"></span>
					                          <span class="lbl">{{ hours_name }}</span>
					                        </div>
					                        <div class='countdown-minutes counter'>
					                          <span class="data"></span>
					                          <span class="lbl">{{ min_name }}</span>
					                        </div>
					                        <div class='countdown-seconds counter'>
					                          <span class="data"></span>
					                          <span class="lbl">{{ sec_name }}</span>
					                        </div>
					                    </div>
				                      	{% endif %}
				                      </div>  
				                    <div class="caption">
				                    	  
				                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
				                        <p class="description">{{ product.description }}</p>
				                        {% if product.price %}
				                        <p class="price">
				                          {% if not product.special %}
				                          {{ product.price }}
				                          {% else %}
				                          <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
				                          {% endif %}
				                          {% if product.tax %}
				                          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
				                          {% endif %}
				                        </p>
				                        {% endif %}
				                           	<div class="btn-cart">
									            <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" {% if product.stock_status %} class="sold-out" disabled{% endif %}>
									               {% if product.stock_status %} <span class="lblcart">{{ button_soldout }}</span> {% else %} <span class="lblcart">{{ button_cart }}</span> {% endif %}
									            </button>
									        </div>
				                      	</div>   
				                    </div> 
				                    <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
    								<input type="hidden" name="quantity" value="{{ product.minimum }}"/>                            
				                </div>
				            </form>      
			                  {% if product_row != 1 %}
			                  {% if counter % product_row == 0 or counter == lastproduct %}
			                </div>
			              {% endif %}
			            {% endif %}
			          {% set counter = counter+1 %}
			          {% endfor %}
			        </div>        
			      </div>  
		      </div>
		    </div>
		    <div class="tab-pane" id="bestseller-products-block{{ tab_randomnumer }}">
		      <div class="block_content">  
			      <div class="row">      
			        <div class="owl-carousel"> 
			          {% set counter = 1 %}
			          {% set lastproduct = bestseller|length %} 
			          {% for product in bestseller %}
			            {% if product_row != 1 %}
			              {% if counter % product_row == 1 %}
			                <div class="multilevel-item">
			                  {% endif %}
			                  {% endif %}
			                <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">
				                <div class="item product-container" data-countdowntime="{{ product.date_end }}"> 
				                    <div class="product-thumb"> 
				                      <div class="image">
				                        <a href="{{ product.href }}">
				                          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
				                            {% if product.extra != '' and hover_image == 1 %}
				                              <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
				                            {% endif %}
				                        </a>
				                        {% if product.stock_status %} <span class="outstock-overlay">{{ product.stock_status }}</span> {% endif %}
				                        <div class="button-group">  
				                            <div class="btn-quickview"> 
				                              <div class="quickview-button button" data-bs-toggle="tooltip" title=" {{ quick_view }}"> 
				                                <a class="quickbox" href="{{ product.quick }}">
					                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="quickview-eye-open" viewBox="0 0 900 900"><title>eye-open</title>
															<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
															C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
															c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
															C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
															<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
															<path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"></path>
														</symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview-eye-open" x="20%" y="18%"></use></svg>
													<i class="fa fa-eye" aria-hidden="true"></i>
													<span class="lblcart d-none">Quick View</span>
				                                </a>
				                              </div>
				                            </div>
				                            <div class="btn-wishlist">
					                            <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}">
					                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="heart-fillshape-outline" viewBox="0 0 1050 1050"><title>heart-fillshape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414c-6.854-6.85-14.087-13.323-21.698-19.41c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824C475.078,202.133,457.19,236.016,421.405,271.795z"></path>
														</symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-fillshape-outline" x="24%" y="26%"></use></svg>
					                            </button>
					                        </div>
					                        <div class="btn-compare"> 
					                            <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}">
					                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
														<symbol id="report" viewBox="0 0 1200 1200"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m480 258.667969h60v220h-60zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m200 118.667969h60v360h-60zm0 0"></path><path d="m340-1.332031h60v480h-60zm0 0"></path><path d="m60 358.667969h60v120h-60zm0 0"></path><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"></path><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"></path></symbol>
													</svg>
													<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report" x="22%" y="28%"></use></svg>
					                            </button>
					                        </div>
									        </div>
				                        {% if product.rating %}
				                          <div class="rating">
				                            {% for i in 1..5 %}
				                              {% if product.rating < i %} 
				                                <span class="fa fa-stack">
				                                  <i class="fa fa-star gray fa-stack-2x"></i>
				                                </span> 
				                              {% else %} 
				                                <span class="fa fa-stack">
				                                	<i class="fa fa-star yellow fa-stack-2x"></i>
				                                </span> 
				                              {% endif %}
				                            {% endfor %}
				                        </div>
				                          {% else %}
				                          <div class="rating">
				                            {% for i in 1..5 %}
				                            <span class="fa fa-stack">
				                              <i class="fa fa-star gray fa-stack-2x"></i>
				                              </span>
				                            {% endfor %}
				                          </div>
				                        {% endif %}
				                        {% if product.date_end %}
				                      <div class='countdown-container'>
				                        <div class='countdown-days counter'>
				                          <span class="data"></span>
				                          <span class="lbl">{{ days_name }}</span>
				                        </div>
				                        <div class='countdown-hours counter'>
				                          <span class="data"></span>
				                          <span class="lbl">{{ hours_name }}</span>
				                        </div>
				                        <div class='countdown-minutes counter'>
				                          <span class="data"></span>
				                          <span class="lbl">{{ min_name }}</span>
				                        </div>
				                        <div class='countdown-seconds counter'>
				                          <span class="data"></span>
				                          <span class="lbl">{{ sec_name }}</span>
				                        </div>
				                      </div>
				                      {% endif %} 
				                      </div>  
				                      <div class="caption">
				                      	 
				                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
				                        <p class="description">{{ product.description }}</p>
				                        {% if product.price %}
				                        <p class="price">
				                          {% if not product.special %}
				                          {{ product.price }}
				                          {% else %}
				                          <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
				                          {% endif %}
				                          {% if product.tax %}
				                          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
				                          {% endif %}
				                        </p>
				                        {% endif %}  
				                        <div class="btn-cart">
								            <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" {% if product.stock_status %} class="sold-out" disabled{% endif %}>
								               {% if product.stock_status %} <span class="lblcart">{{ button_soldout }}</span> {% else %} <span class="lblcart">{{ button_cart }}</span> {% endif %}
								            </button>
								        </div>
				                      </div>  
				                    </div>   
				                    <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
    								<input type="hidden" name="quantity" value="{{ product.minimum }}"/>                         
				                </div>
			            	</form>
			                  {% if product_row != 1 %}
			                  {% if counter % product_row == 0 or counter == lastproduct %}
			                </div>
			              {% endif %}
			            {% endif %}
			          {% set counter = counter+1 %}
			          {% endfor %}
			        </div>   
			      </div>       
		      </div>
		    </div>
		    <div class="tab-pane" id="new-products-block{{ tab_randomnumer }}">
		    	
			      <div class="block_content"> 
				      <div class="row">       
				        <div class="owl-carousel"> 
				          {% set counter = 1 %}
				          {% set lastproduct = new|length %} 
				          {% for product in new %}
				            {% if product_row != 1 %}
				              {% if counter % product_row == 1 %}
				                <div class="multilevel-item">
				                  {% endif %}
				                  {% endif %}
				                    <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">	
						               	<div class="item product-container" data-countdowntime="{{ product.date_end }}"> 
						                    <div class="product-thumb"> 
						                      <div class="image">
						                        <a href="{{ product.href }}">
						                          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
						                            {% if product.extra != '' and hover_image == 1 %}
						                              <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
						                            {% endif %}
						                        </a>
						                        {% if product.stock_status %} <span class="outstock-overlay">{{ product.stock_status }}</span> {% endif %}
						                        <div class="button-group">  
						                            <div class="btn-quickview"> 
						                              <div class="quickview-button button" data-bs-toggle="tooltip" title=" {{ quick_view }}"> 
						                                <a class="quickbox" href="{{ product.quick }}">
							                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="quickview-eye-open" viewBox="0 0 900 900"><title>eye-open</title>
																	<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
																	C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
																	c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
																	C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
																	<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
																	<path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"></path>
																</symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview-eye-open" x="20%" y="18%"></use></svg>
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="lblcart d-none">Quick View</span>
						                                </a>
						                              </div>
						                            </div>
						                            <div class="btn-wishlist">
							                            <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}">
							                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="heart-fillshape-outline" viewBox="0 0 1050 1050"><title>heart-fillshape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414c-6.854-6.85-14.087-13.323-21.698-19.41c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824C475.078,202.133,457.19,236.016,421.405,271.795z"></path>
																</symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-fillshape-outline" x="24%" y="26%"></use></svg>
							                            </button>
							                        </div>
							                        <div class="btn-compare"> 
							                            <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}">
									                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="report" viewBox="0 0 1200 1200"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m480 258.667969h60v220h-60zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m200 118.667969h60v360h-60zm0 0"></path><path d="m340-1.332031h60v480h-60zm0 0"></path><path d="m60 358.667969h60v120h-60zm0 0"></path><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"></path><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"></path></symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report" x="22%" y="28%"></use></svg>
							                            </button>
							                        </div>
											        </div>
						                        {% if product.rating %}
						                          <div class="rating">
						                            {% for i in 1..5 %}
						                              {% if product.rating < i %} 
						                                <span class="fa fa-stack">
						                                  <i class="fa fa-star gray fa-stack-2x"></i>
						                                </span> 
						                              {% else %} 
						                                <span class="fa fa-stack">
						                                  <i class="fa fa-star yellow fa-stack-2x"></i>
						                                </span> 
						                              {% endif %}
						                            {% endfor %}
						                          </div>
						                          {% else %}
						                          <div class="rating">
						                            {% for i in 1..5 %}
						                            <span class="fa fa-stack">
						                              <i class="fa fa-star gray fa-stack-2x"></i>
						                              </span>
						                            {% endfor %}
						                        </div>
						                        {% endif %}  
						                        {% if product.date_end %}
						                      <div class='countdown-container'>
						                        <div class='countdown-days counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ days_name }}</span>
						                        </div>
						                        <div class='countdown-hours counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ hours_name }}</span>
						                        </div>
						                        <div class='countdown-minutes counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ min_name }}</span>
						                        </div>
						                        <div class='countdown-seconds counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ sec_name }}</span>
						                        </div>
						                      </div>
						                      {% endif %} 
						                      </div>  
						                      <div class="caption">	
						                      				                      	
						                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
						                        <p class="description">{{ product.description }}</p>
						                        {% if product.price %}
						                        <p class="price">
						                          {% if not product.special %}
						                          {{ product.price }}
						                          {% else %}
						                          <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
						                          {% endif %}
						                          {% if product.tax %}
						                          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
						                          {% endif %}
						                        </p>
						                        {% endif %}
						                        <div class="btn-cart">
										            <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" {% if product.stock_status %} class="sold-out" disabled{% endif %}>
										               {% if product.stock_status %} <span class="lblcart">{{ button_soldout }}</span> {% else %} <span class="lblcart">{{ button_cart }}</span> {% endif %}
										            </button>
										        </div>
						                      </div>    
						                    </div>    
						                    <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
		    								<input type="hidden" name="quantity" value="{{ product.minimum }}"/>                     
						                </div>
					                </form> 
					                  {% if product_row != 1 %}
					                  {% if counter % product_row == 0 or counter == lastproduct %}
					            </div>
					            
				              {% endif %}
				            {% endif %}
				          {% set counter = counter+1 %}
				          {% endfor %}
				        </div>      
				      </div>    
			      </div>
			     
		    </div>
		    <div class="tab-pane" id="special-products-block{{ tab_randomnumer }}">
		      <div class="block_content">
			      <div class="row">        
			        <div class="owl-carousel"> 
			          {% set counter = 1 %}
			          {% set lastproduct = special|length %} 
			          {% for product in special %}
			            {% if product_row != 1 %}
			              {% if counter % product_row == 1 %}
			                <div class="multilevel-item">
			                  {% endif %}
			                  {% endif %}
			                <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">  
				                <div class="item product-container" data-countdowntime="{{ product.date_end }}"> 
				                    <div class="product-thumb"> 
				                        <div class="image">
					                        <a href="{{ product.href }}">
					                          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
					                            {% if product.extra != '' and hover_image == 1 %}
					                              <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
					                            {% endif %}
					                        </a>
					                        {% if product.stock_status %} <span class="outstock-overlay">{{ product.stock_status }}</span> {% endif %}
	 					                        <div class="button-group">  
						                            <div class="btn-quickview"> 
						                              <div class="quickview-button button" data-bs-toggle="tooltip" title=" {{ quick_view }}"> 
						                                <a class="quickbox" href="{{ product.quick }}">
							                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="quickview-eye-open" viewBox="0 0 900 900"><title>eye-open</title>
																	<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
																	C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
																	c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
																	C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
																	<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
																	<path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"></path>
																</symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview-eye-open" x="20%" y="18%"></use></svg>
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="lblcart d-none">Quick View</span>
						                                </a>
						                              </div>
						                            </div>
						                            <div class="btn-wishlist">
							                            <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}">
							                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="heart-fillshape-outline" viewBox="0 0 1050 1050"><title>heart-fillshape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414c-6.854-6.85-14.087-13.323-21.698-19.41c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824C475.078,202.133,457.19,236.016,421.405,271.795z"></path>
																</symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-fillshape-outline" x="24%" y="26%"></use></svg>
							                            </button>
							                        </div>
							                        <div class="btn-compare"> 
							                            <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}">
															<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																<symbol id="report" viewBox="0 0 1200 1200"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m480 258.667969h60v220h-60zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m200 118.667969h60v360h-60zm0 0"></path><path d="m340-1.332031h60v480h-60zm0 0"></path><path d="m60 358.667969h60v120h-60zm0 0"></path><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"></path><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"></path></symbol>
															</svg>
															<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report" x="22%" y="28%"></use></svg>
							                            </button>
							                        </div>
											        </div>
						                        {% if product.rating %}
						                          <div class="rating">
						                            {% for i in 1..5 %}
						                              {% if product.rating < i %} 
						                                <span class="fa fa-stack">
						                                  <i class="fa fa-star gray fa-stack-2x"></i>
						                                </span> 
						                              {% else %} 
						                                <span class="fa fa-stack">
						                                  <i class="fa fa-star yellow fa-stack-2x"></i>
						                                </span> 
						                              {% endif %}
						                            {% endfor %}
						                          </div>
						                          {% else %}
						                          <div class="rating">
						                            {% for i in 1..5 %}
						                            <span class="fa fa-stack">
						                              <i class="fa fa-star gray fa-stack-2x"></i>
						                              </span>
						                            {% endfor %}
						                        </div>
						                        {% endif %}
						                        {% if product.date_end %}
						                      <div class='countdown-container'>
						                        <div class='countdown-days counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ days_name }}</span>
						                        </div>
						                        <div class='countdown-hours counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ hours_name }}</span>
						                        </div>
						                        <div class='countdown-minutes counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ min_name }}</span>
						                        </div>
						                        <div class='countdown-seconds counter'>
						                          <span class="data"></span>
						                          <span class="lbl">{{ sec_name }}</span>
						                        </div>
						                      </div>
						                      {% endif %} 
				                        </div>  
				                        <div class="caption">
				                      	  		
						                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
						                        <p class="description">{{ product.description }}</p>
						                        {% if product.price %}
						                        <p class="price">
						                          {% if not product.special %}
						                          {{ product.price }}
						                          {% else %}
						                          <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
						                          {% endif %}
						                          {% if product.tax %}
						                          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
						                          {% endif %}
						                        </p>
						                        {% endif %}  
						                        <div class="btn-cart">
										            <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" {% if product.stock_status %} class="sold-out" disabled{% endif %}>
										               {% if product.stock_status %} <span class="lblcart">{{ button_soldout }}</span> {% else %} <span class="lblcart">{{ button_cart }}</span> {% endif %}
										            </button>
										        </div>
					                    </div>   
				                    </div>  
				                    <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
    							  	<input type="hidden" name="quantity" value="{{ product.minimum }}"/>                      
				                </div>
				            </form>
				                  {% if product_row != 1 %}
				                  {% if counter % product_row == 0 or counter == lastproduct %}
				            
				             </div>    
			              {% endif %}
			            {% endif %}
			          {% set counter = counter+1 %}
			          {% endfor %}
			        </div>        
			      </div>  
		      </div>
		    </div>
			{% for cat in product_categories %}
			<div class="tab-pane " id="category-block{{ cat.category_id }}-{{ tab_randomnumer }}">
			    <div class="block_content">  
				    <div class="row">     
				        <div class="owl-carousel">
				          	{% set counter = 1 %}
				            {% set lastproduct = category[cat.category_id]|length %}
				            {% for product in category[cat.category_id] %}
				            {% if product_row != 1 %}
				            {% if counter % product_row == 1 %}
				            <div class="multilevel-item">
				            {% endif %}
				            {% endif %}
				                <form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">  
					                    <div class="item product-container" data-countdowntime="{{ product.date_end }}">
						                    <div class="product-thumb">
						                        <div class="image">
						                          <a href="{{ product.href }}">
						                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
						                            {% if product.extra != '' and hover_image == 1 %}
						                              <img class="product-img-extra img-responsive" alt="{{ product.name }}" title="{{ product.name }}" src= "{{ product.extra }}"/>
						                            {% endif %}
						                          </a>
						      				        {% if product.stock_status %} <span class="outstock-overlay">{{ product.stock_status }}</span> {% endif %}
						      				        <div class="button-group">  
							                            <div class="btn-quickview"> 
							                              <div class="quickview-button button" data-bs-toggle="tooltip" title=" {{ quick_view }}"> 
							                                <a class="quickbox" href="{{ product.quick }}">
								                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																	<symbol id="quickview-eye-open" viewBox="0 0 900 900"><title>eye-open</title>
																		<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
																		C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
																		c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
																		C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
																		<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
																		<path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"></path>
																	</symbol>
																</svg>
																<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview-eye-open" x="20%" y="18%"></use></svg>
																<i class="fa fa-eye" aria-hidden="true"></i>
																<span class="lblcart d-none">Quick View</span>
							                                </a>
							                              </div>
							                            </div>
							                            <div class="btn-wishlist">
								                            <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}">
								                               <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																	<symbol id="heart-fillshape-outline" viewBox="0 0 1050 1050"><title>heart-fillshape-outline</title><path d="M475.366,71.949c-24.175-23.606-57.575-35.404-100.215-35.404c-11.8,0-23.843,2.046-36.117,6.136c-12.279,4.093-23.702,9.615-34.256,16.562c-10.568,6.945-19.65,13.467-27.269,19.556c-7.61,6.091-14.845,12.564-21.696,19.414c-6.854-6.85-14.087-13.323-21.698-19.41c-7.616-6.089-16.702-12.607-27.268-19.556c-10.564-6.95-21.985-12.468-34.261-16.562c-12.275-4.089-24.316-6.136-36.116-6.136c-42.637,0-76.039,11.801-100.211,35.404C12.087,95.55,0,128.286,0,170.16c0,12.753,2.24,25.891,6.711,39.398c4.471,13.514,9.566,25.031,15.275,34.546c5.708,9.514,12.181,18.792,19.414,27.834c7.233,9.041,12.519,15.272,15.846,18.698c3.33,3.426,5.948,5.903,7.851,7.427L243.25,469.938c3.427,3.426,7.614,5.144,12.562,5.144s9.138-1.718,12.563-5.144l177.87-171.31c43.588-43.58,65.38-86.406,65.38-128.472C511.626,128.279,499.54,95.546,475.366,71.949z M421.405,271.795L255.813,431.391L89.938,271.507C54.344,235.922,36.55,202.133,36.55,170.156c0-15.415,2.046-29.026,6.136-40.824c4.093-11.8,9.327-21.177,15.703-28.124c6.377-6.949,14.132-12.607,23.268-16.988c9.141-4.377,18.086-7.328,26.84-8.85c8.754-1.52,18.079-2.281,27.978-2.281c9.896,0,20.557,2.424,31.977,7.279c11.418,4.853,21.934,10.944,31.545,18.271c9.613,7.332,17.845,14.183,24.7,20.557c6.851,6.38,12.559,12.229,17.128,17.559c3.424,4.189,8.091,6.283,13.989,6.283c5.9,0,10.562-2.094,13.99-6.283c4.568-5.33,10.28-11.182,17.131-17.559c6.852-6.374,15.085-13.222,24.694-20.557c9.613-7.327,20.129-13.418,31.553-18.271c11.416-4.854,22.08-7.279,31.977-7.279s19.219,0.761,27.977,2.281c8.757,1.521,17.702,4.473,26.84,8.85c9.137,4.38,16.892,10.042,23.267,16.988c6.376,6.947,11.612,16.324,15.705,28.124c4.086,11.798,6.132,25.409,6.132,40.824C475.078,202.133,457.19,236.016,421.405,271.795z"></path>
																	</symbol>
																</svg>
																<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#heart-fillshape-outline" x="24%" y="26%"></use></svg>
								                            </button>
								                        </div>
								                        <div class="btn-compare"> 
								                            <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}">
								                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
																	<symbol id="report" viewBox="0 0 1200 1200"><title>report</title><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m480 258.667969h60v220h-60zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m240 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m200 118.667969h60v360h-60zm0 0"></path><path d="m340-1.332031h60v480h-60zm0 0"></path><path d="m60 358.667969h60v120h-60zm0 0"></path><path d="m60 548.667969c.035156-3.414063.65625-6.796875 1.839844-10h-51.839844c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h51.839844c-1.183594-3.203125-1.804688-6.589844-1.839844-10zm0 0"></path><path d="m118.160156 538.667969c2.457032 6.4375 2.457032 13.558593 0 20h83.679688c-2.457032-6.441407-2.457032-13.5625 0-20zm0 0"></path><path d="m100 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m380 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m341.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m481.839844 558.667969c-2.457032-6.441407-2.457032-13.5625 0-20h-83.679688c2.457032 6.4375 2.457032 13.558593 0 20zm0 0"></path><path d="m520 548.667969c0 5.519531-4.476562 10-10 10s-10-4.480469-10-10c0-5.523438 4.476562-10 10-10s10 4.476562 10 10zm0 0"></path><path d="m590 538.667969h-51.839844c2.457032 6.4375 2.457032 13.558593 0 20h51.839844c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"></path></symbol>
																</svg>
																<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#report" x="22%" y="28%"></use></svg>
												            </button>
												        </div>
								                    </div>
							                        {% if product.rating %}
							                            <div class="rating">
							                              {% for i in 1..5 %}
							                                {% if product.rating < i %} 
							                                  <span class="fa fa-stack">
							                                    <i class="fa fa-star gray fa-stack-2x"></i>
							                                  </span> 
							                                {% else %} 
							                                  <span class="fa fa-stack">
							                                    <i class="fa fa-star yellow fa-stack-2x"></i>
							                                  </span> 
							                                {% endif %}
							                              {% endfor %}
							                            </div>
							                            {% else %}
							                            <div class="rating">
							                              {% for i in 1..5 %}
							                              <span class="fa fa-stack">
							                                <i class="fa fa-star gray fa-stack-2x"></i>
							                                </span>
							                              {% endfor %}
							                            </div>
							                        {% endif %}
						                          {% if product.date_end %}
					        			            <div class='countdown-container'>
					        			                <div class='countdown-days counter'>
					        			                  <span class="data"></span>
					        			                  <span class="lbl">{{ days_name }}</span>
					        			                </div>
					        			                <div class='countdown-hours counter'>
					        			                  <span class="data"></span>
					        			                  <span class="lbl">{{ hours_name }}</span>
					        			                </div>
					        			                <div class='countdown-minutes counter'>
					        			                  <span class="data"></span>
					        			                  <span class="lbl">{{ min_name }}</span>
					        			                </div>
					        			                <div class='countdown-seconds counter'>
					        			                  <span class="data"></span>
					        			                  <span class="lbl">{{ sec_name }}</span>
					        			                </div>
					        			            </div>
						      	                  {% endif %} 
						                        </div>                  
						                        <div class="caption">   
						                          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
						                          <p class="description">{{ product.description }}</p>
						                          {% if product.price %}
						                          <p class="price">
						                            {% if not product.special %}
						                            {{ product.price }}
						                            {% else %}
						                            <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
						                            {% endif %}
						                            {% if product.tax %}
						                            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
						                            {% endif %}
						                          </p>
						                          {% endif %}
						                          	<div class="btn-cart">
											            <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" {% if product.stock_status %} class="sold-out" disabled{% endif %}>
											               {% if product.stock_status %} <span class="lblcart">{{ button_soldout }}</span> {% else %} <span class="lblcart">{{ button_cart }}</span> {% endif %}
											            </button>
											        </div>
						                        </div>
						                    </div>
						                </div> 
						                <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
    									<input type="hidden" name="quantity" value="{{ product.minimum }}"/>
						        </form>         
					        {% if product_row != 1 %}
					        {% if counter % product_row == 0 or counter == lastproduct %}
					        </div>   
				            {% endif %}
				            {% endif %}	
				            {% set counter = counter+1 %}
				            {% endfor %}        
				    	</div>        
					</div>
				</div>
			</div>
			{% endfor %}
	</div>
  <script type="text/javascript">
    $('#{{ ishi_randomnumer }} .owl-carousel').owlCarousel({
        loop:false,
        nav:true,  
        dots:false, 
        rewind: true,
        rtl: $('html').attr('dir') == 'rtl'? true : false,
        navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"], 
        responsive:{
            0:{
                items:{{ mobile_column }}
            },
            576:{
                items:{{ tablet_column }}
            },
            768:{
                items:{{ laptop_column }}
            },
            992:{
                items:{{ laptop_column }}
            },
            1200:{
                items:{{ desktop_column }}
            }
        }
    });   
  </script>
 
</section>