<section class="ishispecial">
  <div class="container"> 
    <div class="row">
      <div class="section-header">  
          <h3 class="home-title">{{ heading }}</h3>
          <p class="desc"> {{ desc }}</p>
      </div>
      <div id="{{ ishi_randomnumer }}" class="ishispecialblock owl-carousel">
        {% set counter = 1 %}
        {% set lastproduct = products|length %}
        {% for product in products %}
    	  {% if product_row != 1 %}
            {% if counter % product_row == 1 %}
                <div class="multilevel-item">
            {% endif %}
          {% endif %}
            {{ product }}
    	    {% if product_row != 1 %}
            {% if counter % product_row == 0 or counter == lastproduct %}
                </div>
           {% endif %}
           {% endif %}
          {% set counter = counter+1 %}
        {% endfor %} 
      </div>
    </div>        
  </div>
  <script type="text/javascript">
    $('#{{ ishi_randomnumer }}').owlCarousel({
        loop: false,
        nav: true,    
        dots: false,  
        rewind: true,
        rtl: $('html').attr('dir') == 'rtl'? true : false,
        navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"], 
        responsive:{
          0:{
              items:{{ mobile_column }}
          },
          544:{
              items:{{ mobile_column }}
          },
          768:{ 
              items:{{ tablet_column }}
          },
          992:{
              items:{{ laptop_column }}
          },
          1200:{
              items:{{ desktop_column }}
          }
        }
    });   
  </script>
</section>