{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
    <div class="container-fluid">
        <div class="float-end">
          <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
          <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa fa-reply"></i></a>
        </div>
        <h1>{{ heading_title }}</h1>
        <ol class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ol>
    </div>
    </div>
		<div class="container-fluid">
			{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			<div class="card panel-default">
				<div class="card-header">
		        	<i class="fa fa-pencil"></i>{{ text_edit }}
		      	</div>
				<div class="card-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
							<div class="col-sm-10">
								<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
								{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
								{% endif %}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-title-{{ language.language_id }}">{{ entry_title }}</label>
							<div class="col-sm-6">
								{% for language in languages %}
									<div class="input-group"><span class="input-group-addon input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input type="text" name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" placeholder="{{ entry_heading }}" class="form-control" required id="input-title-{{ language.language_id }}" />
										{% if error_title[language.language_id] %}
											<div class="text-danger">{{ error_title[language.language_id] }}</div>
										{% endif %}
									</div> 
								{% endfor %}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-desc-{{ language.language_id }}">{{ entry_desc }}</label>
							<div class="col-sm-6">
								{% for language in languages %}
									<div class="input-group"><span class="input-group-addon input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
										<input type="text" name="desc[{{ language.language_id }}]" value="{{ desc[language.language_id] }}" placeholder="{{ entry_heading }}" class="form-control" required id="input-title-{{ language.language_id }}" />
										{% if error_title[language.language_id] %}
											<div class="text-danger">{{ error_title[language.language_id] }}</div>
										{% endif %}
									</div> 
								{% endfor %}
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-showcategory">{{ entry_categoty_status }}</label>
									<div class="col-sm-8">
										<label class="switch">
											{% if showcategory %}
											<input type="checkbox" name="showcategory" value="1" class="primary" checked="checked" id="input-category-status" />
											{% else %}
											<input type="checkbox" name="showcategory" value="1" class="primary" id="input-showcategory" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
					                <label class="col-sm-4 col-form-label">{{ entry_category }}</label>
					                <div class="col-sm-8">
					                  <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" data-oc-target="autocomplete-category" class="form-control" autocomplete="off"/>
					                  <ul id="autocomplete-category" class="dropdown-menu"></ul>
					                  <div class="input-group">
					                    <div class="form-control p-0" style="height: 150px; overflow: auto;">
					                      <table id="product-category" class="table table-sm m-0">
					                        <tbody>
					                          {% for product_category in product_categories %}
					                            <tr id="product-category-{{ product_category.category_id }}">
					                              <td>{{ product_category.name }}<input type="hidden" name="product_category[]" value="{{ product_category.category_id }}"/></td>
					                              <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>
					                            </tr>
					                          {% endfor %}
					                        </tbody>
					                      </table>
					                    </div>
					                    {% if master_id %}
					                      <div class="input-group-text">
					                        <div class="form-check form-switch">
					                          <input type="checkbox" name="override[product_category]" value="1" id="input-variant-category" data-oc-toggle="switch" data-oc-target="#input-category, #product-category" class="form-check-input"{% if override.product_category %} checked{% endif %}/> <label for="input-variant-category" class="form-check-label"></label>
					                        </div>
					                      </div>
					                    {% endif %}
					                  </div>
					                  <div class="form-text">{{ help_category }}</div>
					                </div>
					            </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-showfeatured">{{ entry_showfeatured }}</label>
									<div class="col-sm-8">
										<label class="switch">
											{% if showfeatured %}
											<input type="checkbox" name="showfeatured" value="1" class="primary" checked="checked" id="input-showfeatured" />
											{% else %}
											<input type="checkbox" name="showfeatured" value="1" class="primary" id="input-showfeatured" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
						            <label class="col-sm-4 col-form-label">{{ entry_product }}</label>
						            <div class="col-sm-8">
						              <input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" data-oc-target="autocomplete-product" class="form-control" autocomplete="off"/>
						              <ul id="autocomplete-product" class="dropdown-menu"></ul>
						              <div class="form-control p-0" style="height: 150px; overflow: auto;">
						                <table id="featured-product" class="table table-sm m-0">
						                  <tbody>
						                    {% for product in products %}
						                      <tr id="featured-product-{{ product.product_id }}">
						                        <td>{{ product.name }}<input type="hidden" name="product[]" value="{{ product.product_id }}"/></td>
						                        <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-minus"></i></button></td>
						                      </tr>
						                    {% endfor %}
						                  </tbody>
						                </table>
						              </div>
						              <div class="form-text text-muted">{{ help_product }}</div>
						            </div>
						        </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-4">
								<div class="row">
									<label class="col-sm-6 col-form-label" for="input-showbestseller">{{ entry_showbestseller }}</label>
									<div class="col-sm-6">
										<label class="switch">
											{% if showbestseller %}
											<input type="checkbox" name="showbestseller" value="1" class="primary" checked="checked" id="input-showbestseller" />
											{% else %}
											<input type="checkbox" name="showbestseller" value="1" class="primary" id="input-showbestseller" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<label class="col-sm-6 col-form-label" for="input-shownew">{{ entry_shownew }}</label>
									<div class="col-sm-6">
										<label class="switch">
											{% if shownew %}
											<input type="checkbox" name="shownew" value="1" class="primary" checked="checked" id="input-shownew" />
											{% else %}
											<input type="checkbox" name="shownew" value="1" class="primary" id="input-shownew" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<label class="col-sm-6 col-form-label" for="input-showspecial">{{ entry_showspecial }}</label>
									<div class="col-sm-6">
										<label class="switch">
											{% if showspecial %}
											<input type="checkbox" name="showspecial" value="1" class="primary" checked="checked" id="input-showspecial" />
											{% else %}
											<input type="checkbox" name="showspecial" value="1" class="primary" id="input-showspecial" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-limit">{{ entry_limit }}</label>
									<div class="col-sm-8">
										<input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-product-row"><span data-toggle="tooltip" title="{{ help_productrow }}">{{ entry_productrow }}</span></label>
									<div class="col-sm-8">
										<input type="text" name="product_row" value="{{ product_row }}" placeholder="{{ entry_productrow }}" id="input-product-row" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-image-hover">{{ entry_image_hover }}</label>
									<div class="col-sm-8">
										<label class="switch">
											{% if hover_image %}
											<input type="checkbox" name="hover_image" value="1" class="primary" checked="checked" id="input-image-hover" />
											{% else %}
											<input type="checkbox" name="hover_image" value="1" class="primary" id="input-image-hover" />
											{% endif %}
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-product-column"><span data-toggle="tooltip" title="{{ help_productcolumn }}">{{ entry_product_column }}</span></label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-sm-3">
										<div class="input-group"><span class="input-group-addon input-group-text" for="input-desktop">{{ entry_desktop }}</span>
											<input type="text" name="desktop_column" value="{{ desktop_column }}" placeholder="{{ entry_desktop }}" id="input-desktop" class="form-control col-sm-8" />
										</div> 
									</div>
									<div class="col-sm-3">
										<div class="input-group"><span class="input-group-addon input-group-text" for="input-laptop">{{ entry_laptop }}</span>
											<input type="text" name="laptop_column" value="{{ laptop_column }}" placeholder="{{ entry_laptop }}" id="input-laptop" class="form-control col-sm-8" />
										</div>
									</div>
									<div class="col-sm-3">
										<div class="input-group"><span class="input-group-addon input-group-text" for="input-tablet">{{ entry_tablet }}</span>
											<input type="text" name="tablet_column" value="{{ tablet_column }}" placeholder="{{ entry_tablet }}" id="input-tablet" class="form-control" />
										</div>
									</div>
									<div class="col-sm-3">
										<div class="input-group"><span class="input-group-addon input-group-text" for="input-mobile">{{ entry_mobile }}</span>
											<input type="text" name="mobile_column" value="{{ mobile_column }}" placeholder="{{ entry_mobile }}" id="input-mobile" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-width">{{ entry_width }}</label>
									<div class="col-sm-8">
										<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
										{% if error_width %}
										<div class="text-danger">{{ error_width }}</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-3">
								<div class="row">
									<label class="col-sm-4 col-form-label" for="input-height">{{ entry_height }}</label>
									<div class="col-sm-8">
										<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
										{% if error_height %}
										<div class="text-danger">{{ error_height }}</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
							<div class="col-sm-10">
								<select name="status" id="input-status" class="form-control">
									{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
									{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
									{% endif %}
								</select>
							</div>
						</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
		<style>
			.showtext,.hidetype1{
				display:none;
			}
			.show,.showtype1{
				display:block;
			}
			/* The switch - the box around the slider */
			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
			}

			/* Hide default HTML checkbox */
			.switch input {display:none;}

			/* The slider */
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}
			input.default:checked + .slider {
				background-color: #444;
			}
			input.primary:checked + .slider {
				background-color: #2196F3;
			}
			input.success:checked + .slider {
				background-color: #8bc34a;
			}
			input.info:checked + .slider {
				background-color: #3de0f5;
			}
			input.warning:checked + .slider {
				background-color: #FFC107;
			}
			input.danger:checked + .slider {
				background-color: #f44336;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #2196F3;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		</style>
		<script type="text/javascript"><!--
	

// Downloads
$('#input-category').autocomplete({
    'source': function (request, response) {
        $.ajax({
            url: 'index.php?route=catalog/category.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function (json) {
                response($.map(json, function (item) {
                    return {
                        label: item['name'],
                        value: item['category_id']
                    }
                }));
            }
        });
    },
    'select': function (item) {
        $('#input-category').val('');

        $('#product-category-' + item['value']).remove();

        html = '<tr id="product-category-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#product-category tbody').append(html);
    }
});

$('#product-category').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});

// Related
$('#input-product').autocomplete({
    source: function (request, response) {
        $.ajax({
            url: 'index.php?route=catalog/product.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function (json) {
                response($.map(json, function (item) {
                    return {
                        label: item['name'],
                        value: item['product_id']
                    }
                }));
            }
        });
    },
    select: function (item) {
        $('#input-product').val('');

        $('#featured-product-' + item['value']).remove();

        html  = '<tr id="featured-product-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-minus"></i></button></td>';
        html += '</tr>';

        $('#featured-product tbody').append(html);
    }
});

$('#featured-product').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});

//--></script>
<script type="text/javascript"><!--
	$('#language a:first').tab('show');
//--></script>
</div>
<script type="text/javascript">
    $(document).ready( function() {
      $('.themecolor').each( function() {
        $(this).minicolors({
          control: $(this).attr('data-control') || 'hue',
          defaultValue: $(this).attr('data-defaultValue') || '',
          format: $(this).attr('data-format') || 'hex',
          keywords: $(this).attr('data-keywords') || '',
          inline: $(this).attr('data-inline') === 'true',
          letterCase: $(this).attr('data-letterCase') || 'lowercase',
          opacity: $(this).attr('data-opacity'),
          position: $(this).attr('data-position') || 'bottom',
          swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
          change: function(value, opacity) {
            if( !value ) return;
            if( opacity ) value += ', ' + opacity;
            if( typeof console === 'object' ) {
              console.log(value);
            }
          },
          theme: 'bootstrap',
      change: function(hex, opacity) {
        jQuery('.panel .mail-preview iframe').contents().find(jQuery(this).attr('data-target')).css(jQuery(this).attr('data-property'), hex);
      }
        });

      });
    });
  </script>
  <link href="view/javascript/bootstrap/colorpicker/jquery.minicolors.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/bootstrap/colorpicker/jquery.minicolors.min.js"></script> 
{{ footer }}
