<section id="{{ ishi_randomnumer }}" class="ishibannerblock clearfix {{ bannerclass }}">
  <div class="row">
    {% for banner in banner_array %}
      <div class="bannerblock {{ column_class }}">
        <div class="image-container"> 
          <a href="{{ banner.link }}" class="{{ style }} {{ scale }}  banner-scale">
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid">
            {% if banner.showtext == 1 %}
              <div class="banner-data banner-position-{{ banner.position }} banner-alignment-{{ banner.alignment }}">
                {% if banner.title %}
                  <div class="banner-title" style="color: {{banner.titlecolor}}">
                    {{ banner.title }}
                  </div>
                {% endif %}
                {% if banner.subtitle %}
                  <div class="banner-subtitle" style="color: {{banner.subtitlecolor}}">{{ banner.subtitle }}</div>
                {% endif %}
                <div class="banner-btn">
                  {% if banner.button_name %}
                    <div href="{{ banner.link }}" class="btn btn-primary">{{banner.button_name }}</div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>