{{ header }}
<div class="breadcrumb-container">
  <h2 class="page-title">{{ heading_title }}</h2>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="information-contact">
	{{ column_left }}
		<div id="content">
			<legend class="contact-info">{{ text_contact }}</legend>
				<div class="container">
					<div class="row">
						{% if locations %}
							<h3>{{ text_store }}</h3>
							<div id="accordion" class="card-group">
								{% for location in locations %}
									<div class="card">
										<div class="card-header">
											<h4 class="card-title pt-2"><a href="#collapse-location-{{ location.location_id }}" class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion">{{ location.name }} <i class="fa-solid fa-caret-down"></i></a></h4>
										</div>
										<div class="card-collapse collapse" id="collapse-location-{{ location.location_id }}">
											<div class="card-body">
												<div class="row">
													{% if location.image %}
														<div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail"/></div>
													{% endif %}
													<div class="col-sm-3"><h3>{{ location.name }}</h3>
														<br/>
														<address>
															{{ location.address }}
														</address>
														{% if location.geocode %}
															<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa-solid fa-location-dot"></i> {{ button_map }}</a>
														{% endif %}
													</div>
													<div class="col-sm-3"><h3>{{ text_telephone }}</h3>
														<br/>
														{{ location.telephone }}
														<br/>
														<br/>
													</div>
													<div class="col-sm-3">
														{% if location.open %}
															<h3>{{ text_open }}</h3>
															<br/>
															{{ location.open }}
															<br/>
															<br/>
														{% endif %}
														{% if location.comment %}
															<h3>{{ text_comment }}</h3>
															<br/>
															{{ location.comment }}
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					 </div>
					<div class="row contact-form-information">
						<div class="contact-image col-12 col-lg-6 col-md-12">
							{{ content_top }}{{ content_center }}
						</div>
						<div class="contact_info col-12 col-lg-6 col-md-12">
							<div class="card">
								<div class="title-container">
									<h3>{{text_heading	}}</h3>
									<span class="subheading">{{text_subheading}}</span>
								</div>
								<div class="card-body contact-location">
									<div class="row">
										<div class=" col-lg-6 col-md-6 col-sm-6 col-12 store-address">
											<div class="address-inner">
												<div class="address-image">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
												</div>
												<div class="address-content">
													<h3>{{ text_location }}</h3>
													<address class="location-detail">
														{{ address }}
													</address>
												</div>
											</div>
										</div>
										<div class=" col-lg-6 col-md-6 col-sm-6 col-12 store-contact">
											<div class="contact-inner">
												<div class="call-image">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
												</div>
												<div class="call-content">
													<h3>{{ text_telephone }}</h3>
													<a href="tel:{{ telephone }}" class="call-detail">
														{{ telephone }}
													</a>
												</div>
											</div>
										</div>
										<div class=" col-lg-6 col-md-6 col-sm-6 col-12 store-email">
											<div class="email-inner">
												<div class="email-image">
													 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
												</div>
												<div class="email-content">
													<h3>{{ text_emails }}</h3>
													<a href="mailto:{{ config_email }}" class="email-detail">
														{{ config_email }}
													</a>
												</div>
											</div>
										</div>
										<div class=" col-lg-6 col-md-6 col-sm-6 col-12 store-time">
											{% if open %}
												<div class="location-icon">
													<i class="fa-regular fa-clock"></i>
												</div>
												<div class="location-detail">
													<div class="location-title">
														<h3>{{ text_open }}</h3>
													</div>
													<p>{{ open }}</p>
												</div>
											{% endif %}
										</div>	
										<div class="col-12 social">
											<h3>{{ text_social }}</h3>
											{{ content_middle }}
										</div>
										
										<!-- <div class="col-lg-4 col-sm-6 col-md-12 store-comment">
											{% if comment %}
												<div class="location-title">
													<i class="fa fa-light fa-comment"></i>
													{{ text_comment }}
												</div>
												<div class="location-detail">
													{{ comment }}
												</div>
											{% endif %}
										</div> -->
										
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="contact-form">
							<form id="form-contact" action="{{ send }}" method="post" data-oc-toggle="ajax">
								<fieldset>
									<div class="title-container">
										<h3>{{ text_headingtitle }}</h3>
										<span class="subheading">{{ text_subheadingtitle }}</span>
									</div>
									<div class="row">
										<div class="mb-3 required col-12 col-md-6 contact_form">
											<input type="text" placeholder="{{ entry_name }}" name="name" value="{{ name }}" id="input-name" class="form-control"/>
											<div id="error-name" class="invalid-feedback"></div>
										</div>
										<div class="mb-3 required col-12 col-md-6 contact_form">
											<input type="text" placeholder="{{ entry_email }}" name="email" value="{{ email }}" id="input-email" class="form-control"/>
											<div id="error-email" class="invalid-feedback"></div>
										</div>
										<div class="mb-3 required contact_form">
											<textarea name="enquiry" placeholder="{{ entry_enquiry }}" rows="6" id="input-enquiry" class="form-control"></textarea>
											<div id="error-enquiry" class="invalid-feedback"></div>
										</div>
									</div>
									{{ captcha }}
								</fieldset>
								<div class="d-inline-block pt-2 pd-2 w-100">
									<div class="text-center">
										<button type="submit" class="btn btn-primary">{{ button_submit }}</button>
									</div>
								</div>
							</form>
					</div>
				</div>
				{% if geocode %}
					<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa-solid fa-location-dot"></i> {{ button_map }}</a>
				{% endif %}
			{{ content_bottom }}
		   </div>
		{{ column_right }}
</div>
{{ footer }}
	