{{ header }}
<div class="breadcrumb-container">
  <h2 class="page-title">{{ heading_title }}</h2>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="information-information" class="container">
  <div class="row">{{ column_left }}
    <div id="content" class="col">
       <h2 class="heading-title">{{ heading_title }}</h2>
     {{ content_top }}{{ content_center }}
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}