<div id="{{ishi_randomnumer}}" class="ishiinstagramblock">
    <div class="home-title">  
        <a>
        {{ heading }}<span> @{{ username }}</span>
        </a>
    </div>
    <div class="ishiinstagram-inner">
        <div id="ishiinstagram-carousel" class="owl-carousel">
        </div>
    </div>
<script type="text/javascript">
jQuery(document).ready(function ($) {
  var userFeed = new Instafeed({
      get: 'user',
      target: "ishiinstagram-carousel",
      userId: '{{ userid }}',
      accessToken: '{{ accesstoken }}',
      resolution: 'standard_resolution',
      sortBy: '{{ sortby }}',
      limit: 6,
      template:'<div class="item"><a href={{"{{link"}}}} target="_blank" id={{"{{id"}}}}><img src={{"{{image"}}}} /><div class="image-overlay"><span></span></div><span class="instagram"><i class="fa-brands fa-instagram"></i></span></a><div class="text-container"><span class="likes"><span class="likes-count">{{"{{likes"}}}}</span><i class="fa fa-heart" aria-hidden="true"></i></span><span class="comments"><span class="comments-count">{{"{{comments"}}}}</span><i class="fa fa-comments" aria-hidden="true"></i></span></div></div>',
      links: false,
      after: function(){
        $('#ishiinstagram-carousel.owl-carousel').owlCarousel({
            loop:true,
            dots:false,
            nav:false,
            margin: 0,
            autoplay:false,
            autoplayTimeout:5000,
            smartSpeed: 2500,
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            responsive:{
                0:{
                    items:2
                },
                350:{
                    items:2
                },
                480:{
                    items:2
                },
                544:{
                    items:2
                },
                768:{
                    items:3
                },
                992:{
                    items:4
                },
                1200: {
                    items:6
                }
            }
        });
        insertDummyData();
        resizeInstagramTitle();
      }
  });
    userFeed.run();
});

function insertDummyData() {

    $("#ishiinstagram-carousel .owl-item").each(function(){
      $(this).find(".comments-count").text(niceNumberDisplay(Math.floor((Math.random() * 10000) + 1)));
      $(this).find(".likes-count").text(niceNumberDisplay(Math.floor((Math.random() * 100000) + 1)));
    });
}
function niceNumberDisplay(num) {
    var n = parseFloat(num);
    if(n > 1000000) {
        return Math.round(n / 1000000) + 'm';
    } else if(n > 1000) {
        return Math.round(n / 1000) + 'k';
    } else {
        return n.toFixed(0);
    }
}

function resizeInstagramTitle() {
    $('.ishiinstagramblock .home-title.special').css('width',$('#ishiinstagram-carousel .owl-item').css('width'));
}

</script>
</div>