{{ header }}
<div class="breadcrumb-container">
  <h1 class="page-title">{{ heading_title }}</h1>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="account-address" class="container">
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}{{ content_center }}
      <legend>{{text_address_book}}</legend>
      <div id="address">{{ list }}</div>
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-start"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
        <div class="float-end"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('#address').on('click', '.btn-danger', function (e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function () {
            $(element).prop('disabled', true);
        },
        complete: function () {
            $(element).prop('disabled', false);
        },
        success: function (json) {
            $('.alert-dismissible').remove();
 
              if (json['redirect']) {
                  location = json['redirect'];
              }

            if (json['error']) {
                $('#address').before('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {

                $('#address').load('index.php?route=account/address&language={{language}}&customer_token={{customer_token}}&address_id={{address_id}}'); 

                $('#address').before('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');            
                }                  
            },        
            error: function (xhr, ajaxOptions, thrownError) {          
              console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);        
            }    
          });});//-->
            
          </script>
{{ footer }}
