<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% if page_direction == 'rtl' %}
	{% set direction = 'rtl'%}
{% endif %}
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ responsive ? mobile-responsive-off : '' }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />

	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}

	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}

	{% for meta in add_this_meta %}
		<meta property="og:{{ meta.property }}" content="{{ meta.content }}" />
	{% endfor %}

	{# fonts #}
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/linearicons.css" rel="stylesheet">
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-design.css" rel="stylesheet">	
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/thin.css" rel="stylesheet">	
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-icons.css" rel="stylesheet">	
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/fl-bigmug-line.css" rel="stylesheet">	
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/photoswipe.css" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/fonts/georgia.ttf" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/fonts/fl-bigmug-line.ttf" rel="stylesheet">


	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">


	{# end fonts #}

	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	{# styles #}
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/stylesheet.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/fl-bigmug-line.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/js/fancybox/jquery.fancybox.css" rel="stylesheet">
	
	{# end styles #}
	{# rtl #}
	{% if direction == 'rtl' %}
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/bootstrap-rtl.css" rel="stylesheet">
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/rtl.css" rel="stylesheet">
	{% endif %}
	{# end rtl #}
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}

	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}

	{% if color_scheme_link %}
		<link id="color_scheme" href="{{ color_scheme_link }}" rel="stylesheet">
	{% endif %}

	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}

	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}
</head>
<body class="{{ class }}">
	<p id="gl_path" class="hidden">{{ theme_path }}</p>
	<div id="page">
		<div id="page-preloader" class="visible"><span class="preloader"></span></div>
		<div class="ie-warning">
			<a href="//windows.microsoft.com/en-us/internet-explorer/download-ie">
				<img src="catalog/view/theme/{{ theme_path }}/image/warning_bar_0000_us.jpg" height="75" width="1170" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
			</a>
		</div>
		<div class="header-bg" style="background-image: url('{{ header_image_thumb }}');">
			<header >
				<div class="header-top-line">
					<div class="container">
					{# 	{% if header_top %}				
							{{ header_top }}				
						{% endif %} #}

						<nav id="top-links" class="nav toggle-wrap">
							<a class="toggle material-design-settings49" href='#'></a>
							<ul class="list-inline toggle_cont toggle_menu">		

								<li class="toggle-wrap hidden-xs">
									<a href="{{ account }}" title="{{ text_account }}" class="toggle">
										
										<span>{{ text_account2 }}</span>								
									</a>
									<ul class="toggle_cont toggle_cont__right">
										{% if logged %}
											<li><a href="{{ account }}">{{ text_account }}</a></li>
											<li><a href="{{ order }}">{{ text_order }}</a></li>
											<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
											<li><a href="{{ download }}">{{ text_download }}</a></li>
											<li><a href="{{ logout }}">{{ text_logout }}</a></li>
										{% else %}
											<li><a href="{{ register }}">{{ text_register }}</a></li>
											<li><a href="{{ login }}">{{ text_login }}</a></li>
										{% endif %}
									</ul>
								</li>
								<li class="hidden-lg hidden-md hidden-sm"><a href="{{ register }}">{{ text_register }}</a></li>
								<li class="hidden-lg hidden-md hidden-sm"><a href="{{ login }}">{{ text_login }}</a></li>						
								<li class="hidden-lg hidden-md hidden-sm">	{{ currency }}</li>
								<li class="hidden-lg hidden-md hidden-sm">{{ language }}</li>
							</ul>
						</nav>
						<div class="search_input">
							<a href="#" class="search__open">{{ text_search }}</a>
							{{ search }}
						</div>



						<div class="hidden-xs">	{{ currency }}</div>
						<div class="hidden-xs">{{ language }}</div>

					</div>
				</div>
				<div class="header-mid-line">
					<div class="container">
						<div id="logo">
							{% if logo %}
								<a href="{{ home }}">
									<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
								</a>
							{% else %}
								<h1>
									<a href="{{ home }}">{{ name }}</a>
								</h1>
							{% endif %}
						</div>					
						{{ header_menu }}
						<div class=" clearfix">

							{{ cart }}

						</div>
					</div>
				</div>
				




				

				
			</header>

		</div>
		{# {{ menu }} #}
