
{{ header }}
<div class="breadcrumb-container">
  <h2 class="page-title">{{ heading_title }}</h2>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="product-category" class="container">
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      {% if thumb or description %}
      <div class="category_banner">
          <div class="col-sm-12 category-title">{{ heading_title }}</div>
          {% if description %}
            <div class="col-sm-12 category_description">{{ description }}</div>
          {% endif %}
      {% endif %}
      {% if subcategory_type != 'none' %}
        {% if categories %}
          <div class="refine-search col-sm-12">
            <div class=" category-list">
              <ul class="{% if subcategory_type == 'slider' %} owl-carousel {% else %}row{% endif %}">
                {% for category in categories %}
                  <li class="item {% if subcategory_type == 'grid' %} col-md-3 col-sm-3 col-xs-4 {% endif %}">
                    <a href="{{ category.href }}">
                      <img src="{{ category.subcategory_image }}" />
                      <span class="subcategory-title">{{ category.name }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if products %}
        <div id="display-control" class="product-list-top">
          <div class="row">
            <div class="col-lg-2 d-lg-inline-block d-md-block d-sm-block btn-list-grid">
              <div class="btn-group btn-group-sm">
                <button type="button" id="grid-view" class="btn btn-light" data-bs-toggle="tooltip" title="{{ button_grid }}"><i class="fa-solid fa-table-cells"></i></button>
                <button type="button" id="list-view" class="btn btn-light" data-bs-toggle="tooltip" title="{{ button_list }}"><i class="fa-solid fa-table-list"></i></button>
              </div>
            </div>
            <div class="compare-total col-lg-3"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
            <div class="pagination-right text-end col-lg-7">
              <div class="sort-by-wrapper">
                <div class="col-md-2 text-end sort-by">
                  <label for="input-sort" class="control-label">{{ text_sort }}</label>
                </div>
                <div class="col-md-3 text-end sort">
                  <div class="select-wrapper">
                      <select id="input-sort" class="form-select" onchange="location = this.value;">
                        {% for sorts in sorts %}
                          <option value="{{ sorts.href }}"{% if sorts.value == '%s-%s'|format(sort, order) %} selected{% endif %}>{{ sorts.text }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
              </div>
              <div class="show-wrapper">
                <div class="col-md-1 text-end show">
                  <label for="input-limit" class="control-label">{{ text_limit }}</label> 
                </div>
                <div class="col-md-2 text-end limit"> 
                  <select id="input-limit" class="form-select" onchange="location = this.value;">
                    {% for limits in limits %}
                      <option value="{{ limits.href }}"{% if limits.value == limit %} selected{% endif %}>{{ limits.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="product-list" class="row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
            {% for product in products %}
              <div class="col">{{ product }}</div>
            {% endfor %}
        </div>
        <div class="category-pagination">
          <div class="row">
            <div class="col-sm-6 text-start pagination-desc">{{ results }}</div>
            <div class="col-sm-6 text-end">{{ pagination }}</div>
          </div>
        </div>
      {% endif %}
      {% if not categories and not products %}
        <p>{{ text_no_results }}</p>
        <div class="d-inline-block pt-2 pd-2 w-100">
          <div class="float-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
{{ footer }}
<script type="text/javascript">
  $('.category-list .owl-carousel').owlCarousel({
    loop:false,
    nav:true,    
    margin: 0,
    dots: false,      
    rewind: true,
    rtl: $('html').attr('dir') == 'rtl'? true : false,  
    navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
    responsive:{
          0:{
              items:2
          },
          576:{
              items:3
          },
          767:{
              items:3
          },
          991:{
              items:3
          },
          1200:{
              items:4
          }
      }
  });   
</script>