				<div class="cart-toggle-wrap">
					<div class="cart-toggle">
						<span class="close-btn material-design-close47"></span>
						<a class="toggle material-icons-local_mall" href='#'></a>
						<span id="cart-total" class="cart-total">{{ text_items2 }}</span>
					</div>
					<div id="cart" class="toggle-cont-cart">
						<div>
							<ul class="pull-right toggle_cont">
								{% if (products or vouchers) %}
									{% for product in products %}
										<li>
											<div class="fl-left">{% if (product['thumb']) %}
												<div class="image">
													<a href="{{ product['href'] }}">
														<img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" />
													</a>
												</div>
											{% endif %}
										</div>
										<div class="fl-right">
											<div class="name">
												<a href="{{ product['href'] }}">{{ product['name'] }}</a>
											</div>
											<div>&#215; {{ product['quantity'] }}<span class="price-cart">{{ product['total'] }}</span></div>
										</div>
										<div class="text-center">
											<button data-action="show" type="button" class="btn-remove">
												<i class="material-icons-close"></i>
											</button>
											<div class="btn-remove-wrap">
												<div class="btn-remove__cnt">
													<button type="button" onclick="cart.removeAndSave('{{ product.href|split('product_id=')[1] }}', '{{ product['cart_id'] }}');" data-toggle="tooltip" class="btn-polat"><i class="material-icons-favorite_border"></i><span>{{ text_wishlist }}</span></button>
													<button type="button" data-toggle="tooltip" onclick="cart.remove('{{ product['cart_id'] }}');" class="btn-polat"><i class="material-icons-delete"></i><span>{{ text_delete }}</span></button>
													<button type="button" data-toggle="tooltip" data-action="cancel" class="btn-polat"><i class="material-icons-close"></i><span>{{ text_cancel }}</span>
													</button>
												</div>
											</div>
										</div>
									</li>
								{% endfor %}
								{% for voucher in vouchers %}
									<li class="voucher">
										<div class="text-left">{{ voucher['description'] }}</div>
										<div class="text-left">x&nbsp;1</div>
										<div class="text-left"><b>{{ voucher['amount'] }}</b></div>
										<div class="text-left">
											<button type="button" onclick="voucher.remove('{{ voucher['key'] }}');" title="{{ button_remove }}" class="btn-remove">
												<i class="material-design-close47"></i>
											</button>
										</div>
									</li>
								{% endfor %}
								<li>
									<div class="total">
										{% for total in totals %}
											<div class="t-row">
												<div class="text-left">
													{{ total['title'] }}
												</div>
												<div class="text-right">
													<em>{{ total['text'] }}</em>
												</div>
											</div>
										{% endfor %}
									</div>
								</li>
								<li>
									<div class="text-center">
										<a class="btn btn-l" href="{{ cart }}">{{ text_cart }}</a>
										<a class="btn btn-r" href="{{ checkout }}">{{ text_checkout }}</a>
									</div>
								</li>
							{% else %}
								<li>
									<p class="text-center">{{ text_empty }}</p>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
