<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
{% if page_direction == 'rtl' %}
	{% set direction = 'rtl'%}
{% endif %}
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ responsive ? mobile-responsive-off : '' }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}" />

	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}

	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}

	{% for meta in add_this_meta %}
		<meta property="og:{{ meta.property }}" content="{{ meta.content }}" />
	{% endfor %}

	{# fonts #}
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-design.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/fl-bigmug-line.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/material-icons.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Arizonia&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
	{# end fonts #}

	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	{# styles #}
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/stylesheet.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/js/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="catalog/view/theme/{{ theme_path }}/stylesheet/photoswipe.css" rel="stylesheet">
	{# end styles #}
	{# rtl #}
	{% if direction == 'rtl' %}
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/bootstrap-rtl.css" rel="stylesheet">
		<link href="catalog/view/theme/{{ theme_path }}/stylesheet/rtl.css" rel="stylesheet">
	{% endif %}
	{# end rtl #}
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}

	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}

	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}

	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}
</head>
<body class="{{ class }}">
	<p id="gl_path" class="hidden">{{ theme_path }}</p>
	<div id="page">
		<div id="page-preloader" class="visible">
			<div class="preloader">
				<div class="squares"></div>
			</div>
		</div>
		<div class="ie-warning">
			<a href="//windows.microsoft.com/en-us/internet-explorer/download-ie">
				<img src="catalog/view/theme/{{ theme_path }}/image/warning_bar_0000_us.jpg" height="75" width="1170" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
			</a>
		</div>
		<ul class="side-navbar list-unstyled">
			<li>{{ cart }}</li>
			<li>
				<div class="search-toggle-wrap">
					<div class="search-toggle">
						<span class="close-btn material-design-close47"></span>
						<a class="toggle material-icons-search" href='#'></a>
					</div>
					<div class="toggle-cont-search">
						<div>{{ search }}</div>
					</div>
				</div>
			</li>
			<li>
				<div class="nav-toggle-wrap">
					<div class="nav-toggle">
						<span class="close-btn material-design-close47"></span>
						<a class="toggle material-icons-person" href='#'></a>
					</div>
					<div class="toggle-cont-nav">
						<nav id="top-links" class="nav toggle-wrap">
							<div class="toggle_cont">
								<ul class="list-unstyled">
									<li><a href="{{ wishlist }}" id="wishlist-total">{{ text_wishlist }}</a></li>
									<li><a href="{{ compare }}" id="compare-total2">{{ text_compare }}</a></li>
									<li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</li>
			<li>
				<div class="acc-toggle-wrap">
					<div class="acc-toggle">
						<span class="close-btn material-design-close47"></span>
						<a class="toggle material-icons-vpn_key" href='#'></a>
					</div>
					<div class="toggle-cont-acc">
						<nav id="top-links" class="acc toggle-wrap">
							<div class="toggle_cont">
								<ul class="list-unstyled">
									{% if logged %}
										<li><a href="{{ account }}">{{ text_account }}</a></li>
										<li><a href="{{ order }}">{{ text_order }}</a></li>
										<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
										<li><a href="{{ download }}">{{ text_download }}</a></li>
										<li><a href="{{ logout }}">{{ text_logout }}</a></li>
									{% else %}
										<li><a href="{{ login }}">{{ text_login }}</a></li>
										<li><a href="{{ register }}">{{ text_register }}</a></li>
									{% endif %}
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</li>
			<li>
				<div class="lang-toggle-wrap">
					<div class="lang-toggle">
						<span class="close-btn material-design-close47"></span>
						<a class="toggle material-icons-build" href='#'></a>
					</div>
					<div class="toggle-cont-lang">
						<div>
							{{ currency }}
							{{ language }}
						</div>
					</div>
				</div>
			</li>
		</ul>
		<header>
			<div class="top-line">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<div id="logo" class="logo">
								{% if logo %}
									<a href="{{ home }}">
										<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
									</a>
								{% else %}
									<h1>
										<a href="{{ home }}">{{ name }}</a>
									</h1>
								{% endif %}
							</div>
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-6">
							{% if navigation %}
								<div class="navigation">
									{{ navigation }}
								</div>
							{% endif %}
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
							{% if header_top %}
								<div class="header-top">
									{{ header_top }}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if header_bottom %}
				<div class="header_modules">
					{{ header_bottom }}
				</div>
			{% endif %}
		</header>
		<script>
			;(function ($) {
				if ('.common-home') {
					function headerWidth() {
						$('header').css('min-height', $('.header_modules').height());
					}
					$(window).on('load resize', headerWidth);
				}
			})(jQuery);
		</script>
