<section id="{{ ishi_randomnumer }}" class="ishiaboutusblock">
		<div class="aboutus_banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12 aboutus-image aboutusimage-position-{{position}}">
						<div class="image-container">
							<a href="#" class=" {{ style1 }}">
								<img src="{{ image }}" class="img-fluid">
							</a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-12 aboutus-details">
						{{ html }}
						<div class="about-btn">
				          	<a href="{{ btnlink }}" class="btn-primary">
					            {{ btnname }}
				          	</a>
				        </div>
					</div>
				</div>
			</div>
		</div>
</section>