<div class="block-social {{ column_class }} ">
    <div id="social-container">
      <ul>
        {% if facebook %}
          <li class="facebook"><a href="{{ facebook }}" ><i class="fa-brands fa-facebook-f"></i></a></li>
        {% endif %}
        {% if twitter %}
          <li class="twitter"><a href="{{ twitter }}" ><i class="fa-brands fa-twitter"></i></a></li>
        {% endif %}
        {% if youtube %}
          <li class="youtube"><a href="{{ youtube }}" ><i class="fa-brands fa-youtube"></i></a></li>
        {% endif %}
        {% if gplus %}
          <li class="googleplus"><a href="{{ gplus }}"><i class="fa-brands fa-google-plus"></i></a></li>
        {% endif %}
        {% if rss %}
          <li class="rss"><a href="{{ rss }}" ><i class="fa-brands fa-rss"></i></a></li>
        {% endif %}
        {% if pinterest %}
          <li class="pinterest"><a href="{{ pinterest }}" ><i class="fa-brands fa-pinterest"></i></a></li>
        {% endif %}
        {% if vimeo %}
          <li class="vimeo"><a href="{{ vimeo }}" ><i class="fa-brands fa-vimeo"></i></a></li>
        {% endif %}
        {% if instagram %}
          <li class="instagram"><a href="{{ instagram }}" ><i class="fa-brands fa-instagram"></i></a></li>
        {% endif %}   
      </ul>
    </div>
</div>