<div class="address-block" data-match-height="items-f">
	<h3 class="box-heading">{{ text_contact }}</h3>
	<div class="box-content footer_box">
		<address>
			<ul class="list-unstyled">
				<li><a class="footer-link" href="//www.google.com/maps/?q={{ '{{' }} geocode ? str_replace(' ', '+', geocode) : str_replace(' ', '+', strip_tags(address)) {{ '}}' }}" target="_blank">{{ address }}</a></li>
				<li><a class="footer-link" href="callto:{{ telephone }}">{{ telephone }}</a></li>
				<li><a href="mailto:{{ email }} ">{{ email }}</a></li>
				<li>{{ open }}</li>
			</ul>
		</address>
	</div>
</div>