<section class="ishiservicesblock">
    <div class="container">
        <div class="section-header">
            {% if showtitle == 1 %}
                <h3 class="home-title">{{ title }}</h3>
                <p class="desc">{{ desc }}</p>
            {% endif %}
        </div>
        <div class="ishiservices">            
            <div class="row">
                {% for ishiservice in ishiservices %}
                    <div class="services {{ class }}">
                        <div class="service-img">
                            <span style="background-image: url({{ ishiservice.image }});"></span>
                        </div>
                        <div class="service-block">
                            <div class="service-title">{{ ishiservice.title }}</div>
                            <div class="service-desc">{{ ishiservice.description }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
