<div id="style_switcher">
	<div class="toggler"></div>
	<p>{{ title }}</p>
	<ul id="color-box">
		{% for color_scheme in color_schemes %}
			{% if (color_scheme['scheme'] == active_color_scheme) %}
				<li class="active"><div class="color_scheme {{ color_scheme['scheme'] }}" data-scheme="{{ color_scheme['scheme'] }}">&nbsp;</div></li>
			{% else %}
				<li><div class="color_scheme {{ color_scheme['scheme'] }}" data-scheme="{{ color_scheme['scheme'] }}">&nbsp;</div></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
