<section id="{{ ishi_randomnumer }}" class="manufacturerblock clearfix">
    <div class="container">
        <div class="manufactureinner">
            <div class="owl-carousel">
                {% for manufacturer in manufacturers %}
                    <div class="item">
                        {% if manufacturer.link %}
                            <a href="{{ manufacturer.link }}">
                                <img src="{{ manufacturer.image }}" alt="{{ manufacturer.title }}" class="img-responsive" />
                            </a>
                        {% else %}
                            <img src="{{ manufacturer.image }}" alt="{{ manufacturer.title }}" class="img-responsive" />
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#{{ ishi_randomnumer }} .owl-carousel').owlCarousel({
            loop:{{ loop }},
            nav:false,
            dots:false,
            autoplay:{{ autoplay }},
            margin: 0,
            animateOut: 'fadeOut',
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
            responsive:{
                    0:{
                        items:2
                    },
                    481:{
                        items:3
                    },
                    768:{
                        items:4
                    },
                    992:{
                        items:5
                    },
                    1200:{
                        items:6
                    }
                }
        });
    </script>
</section>