<section class="ishiabout-us-services clearfix">    
    <div class="container">
        <div class="row" id="services">
            {% if showtitle == 1 %}
            <div class="section-header">
                <h2 class="home-title">{{ title }}</h2>
            </div>
            {% endif %}
                {% for ishiservice in ishiservices %}
                    <div class="services {{ class }}">
                        <a href="#" class="service-bg">
                            <div class="service-img">
                                <img src="{{ ishiservice.image }}" class="img-fluid">
                            </div>
                            <div class="service-block">
                                <div class="service-title">{{ ishiservice.title }}</div>
                                <div class="service-desc">{{ ishiservice.description }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
