<div id="_desktop_contact" class="footer-block {{ column_class }} d-lg-none"> 
    <h5 class="d-none d-lg-block">{{ title }}</h5>
    <div class="block-contact">
      <div class="footer-title clearfix d-lg-none " href="#contact-info-container" data-bs-toggle="collapse" aria-expanded="false" aria-controls="contact-info-container">
          <span class="h3">{{ title }}</span>
          <span class="navbar-toggler collapse-icons">
            <i class="fa fa-angle-down add"></i>
            <i class="fa fa-angle-up remove"></i>
          </span>
      </div> 
      <div id="contact-info-container" class="collapse footer-dropdown">
          <div class="block address col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span class="icon">
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <div class="content">
                <a>{{ config_address }}</a>
              </div>
          </div>
          <div class="block phone col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span class="icon phone">
                <i class="fa fa-phone"></i>
              </span>
              <div class="content">
                <a href="tel:{{ config_telephone }}">{{ config_telephone }}</a>
              </div>
          </div>
          <div class="block email col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <div class="content">
                <a href="mailto:{{ config_email }}">{{ config_email }}</a>
              </div>
          </div>
          
      </div>
    </div>
</div>