    <div class="account {{ column_class }}">
      {% if showtitle == 1 %}
      <h5 class="d-none d-lg-block">{{ footerlinktitle }}</h5>
       {% endif %}
      <div class="footer-title clearfix d-lg-none" href="#{{footerlinktitle}}" data-bs-toggle="collapse" aria-expanded="false"  aria-controls="{{footerlinktitle}}">
        <span class="h3">{{ footerlinktitle }}</span>
        <span class="navbar-toggler collapse-icons">
          <i class="fa fa-angle-down add"></i>
          <i class="fa fa-angle-up remove"></i>
        </span>
      </div>
      <div id="{{footerlinktitle}}" class="collapse footer-dropdown" aria-expanded="false">
        <ul class="list-unstyled">
          {% if account %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ special }}">{{ text_special }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
            <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          {% endif %}
          {% for information in informations %}
            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
           {% for extra in extras %}
            <li><a href="{{ extra.link }}">{{ extra.linkname }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>