<section class="smartblog_block clearfix {{ column_class }}">
    <div class="container">
        <h3 class="home-title">{{ heading }}</h3>
        <div class="block_content">
            <div id="smartblog-carousel" class="owl-carousel">
                {% for blog in blogs %}         
                <div class="blog_post item">
                    <div class="news_module_image_holder">
                        {% if blog.image %} 
                        <a href="{{ blog.href }}">
                            <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
                        </a>
                        <a class="blogicons icon readmore_link" title="Click to view Read More " href="{{ blog.href }}"><i class="fa fa-link"></i></a>
                        {% endif %}
                        <div class="smartbloginfo">
                            <div class="write-comment d-none"> <a href="{{ blog.href }}"> <i class="fa fa-comment"></i> {{ blog.total_comments }} {{ entry_comment }}</a> </div>
                            <div class="month-year"><span class="date_month">{{ blog.date_added }}</span> <span class="day_year">{{ blog.month_added }}</span></div>
                        </div>
                    </div>
                    <div class="blog_content">   
                        <h4 class="blog_title"><a href="{{ blog.href }}">{{ blog.title }}</a> </h4>
                        
                        <div class="blog-desc"> {{ blog.description }} </div>
                            <div class="read-more"><a href="{{ blog.href }}">{{ text_read_more }}</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
    <script type="text/javascript">
        $('.smartblog_block .owl-carousel').owlCarousel({
            loop: false,
            nav:true,
            dots:false,
            margin: 30,
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"], 
            autoplay:false, 
            responsive:{
                0:{
                    items:1
                },
                544:{
                    items:1
                },
                768:{
                    items:2
                },
                992:{
                    items:2
                },
                1200:{
                    items:2
                }
            }
        });
    </script>
</section>  