<!-- Jetimpex Deal Banner -->
<div class="jetimpex-deal-banner jetimpex-deal-banner--{{module}}">
	<div class="jetimpex-deal-banner__cont">
		{% if (image) %} 
		<div class="jetimpex-deal-banner__image">
			<img width="{{image_width}}" height="{{image_height}}" src="{{image}}" alt="">
		</div>
		{% endif %} 
		{% if (description) %} 
		<div class="jetimpex-deal-banner__description">
			{{description}} 
		</div>
		{% endif %}
		<div class="jetimpex-deal-banner__countdown">
			<div id="jetimpex-deal-banner__countdown-{{module}}" class="simple-countdown" data-date="{{date}}">
				<div class="cell days"><span class="number"></span> {{days_title}}</div>
				<div class="cell hours"><span class="number"></span> {{hours_title}}</div>
				<div class="cell minutes"><span class="number"></span> {{minutes_title}}</div>
				<div class="cell seconds"><span class="number"></span> {{seconds_title}}</div>
			</div>
		</div>
		</div>
	</div>
	<script type="text/javascript">
		;(function($) {
			var obj = $('#jetimpex-deal-banner__countdown-{{module}}');
			obj.countdown(obj.data('date'), function(event){
				$(this).find('.days > .number').html(event.strftime('%D'));
				$(this).find('.hours > .number').html(event.strftime('%H'));
				$(this).find('.minutes > .number').html(event.strftime('%M'));
				$(this).find('.seconds > .number').html(event.strftime('%S'));
			});
		})(jQuery)
	</script>
<!-- END Jetimpex Deal Banner-->