<section id="{{ ishi_randomnumer }}" class="ishiparallaxbannerblock {{ parallax }}" style="background-color: {{ bg_color }}" data-counter="{{ enddate }}" data-deal="{{ deal }}">
	<div class="parallax_banner" style="">
		<div class="container">
			{{ html }}
		</div>
	</div>
</section>
<style type="text/css">
	@media (min-width: 768px){
    	.ishiparallaxbannerblock{
	     background-image: url({{image}})!important;}}
</style>