{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
	    <div class="container-fluid">
	      <div class="float-end">
	        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
	        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
	      <h1>{{ heading_title }}</h1>
	      <ol class="breadcrumb">
	        {% for breadcrumb in breadcrumbs %}
	          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	        {% endfor %}
	      </ol>
	    </div>
  	</div>
	<div class="container-fluid">
	   {% if error_warning %}
		<div class="alert alert-danger alert-dismissible">
		    <i class="fa fa-exclamation-circle"></i> 
		    {{ error_warning }}
		    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
	    <div class="card panel-default">
		    <div class="card-header"><i class="fa fa-pencil"></i> {{ text_edit }}
		    </div>
		    <div class="card-body">
		        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		          <div class="row mb-3">
		            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_name }}</label>
		            <div class="col-sm-10">
		              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
		              {% if error_name %}
		              <div class="text-danger">{{ error_name }}</div>
		              {% endif %}
		            </div>
		          </div>
		          <div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="input-title">{{ entry_title }}</label>
					<div class="col-sm-10">
					{% for language in languages %}
						<div class="input-group"><span class="input-group-addon input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input type="text" name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" placeholder="{{ entry_title }}" class="form-control" required id="input-title-{{language.language_id}}" />
						</div> 
					{% endfor %}
					</div>
				  </div>
				  <div class="row mb-3">
					<label class="col-sm-2 col-form-label" for="input-title">{{ entry_desc }}</label>
					<div class="col-sm-10">
					{% for language in languages %}
						<div class="input-group"><span class="input-group-addon input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
							<input type="text" name="desc[{{ language.language_id }}]" value="{{ desc[language.language_id] }}" placeholder="{{ entry_desc }}" class="form-control" required id="input-desc-{{language.language_id}}" />
						</div> 
					{% endfor %}
					</div>
				  </div>
		          <div class="row mb-3">
		          	<div class="col-sm-6 row">
		                <label class="col-sm-4 col-form-label" for="input-newsletter_banner">{{ entry_newsletter_banner }}</label>
		                <div class="col-sm-8">
		                  <div id="image" class="card image">
		                  <img src="{{ imagethumb1 }}" alt="" title="" id="thumb-newsletter_banner" data-oc-placeholder="{{ placeholder }}" />
		                  <input type="hidden" name="newsletter_banner" value="{{ newsletter_banner }}" id="input-newsletter_banner" />
		                  <div class="card-body">
		                    <button type="button" data-oc-toggle="image" data-oc-target="#input-newsletter_banner" data-oc-thumb="#thumb-newsletter_banner" class="btn btn-primary btn-sm btn-block"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
		                    <button type="button" data-oc-toggle="clear" data-oc-target="#input-newsletter_banner" data-oc-thumb="#thumb-newsletter_banner" class="btn btn-warning btn-sm btn-block"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
		                  </div>
		                  </div>
		                </div>
		            </div>
		            <div class="col-sm-6">
		                <div class="row">
		                  <label class="col-sm-4 col-form-label" for="input-bg_color">{{ entry_bg_color }}</label>
		                  <div class="col-sm-8">
		                    <input type="text" name="bg_color" class="form-control themecolor" data-swatches="#fff|#000|#f00|#0f0|#00f|#ff0|rgba(0,0,255,0.5)"  value="{{ bg_color }}">
		                  </div>
		                </div>
		            </div>
		          </div>

		          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_facebook }}</label>
            <div class="col-sm-10">
              <input type="text" name="facebook" value="{{ facebook }}" placeholder="{{ entry_facebook }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_twitter }}</label>
            <div class="col-sm-10">
              <input type="text" name="twitter" value="{{ twitter }}" placeholder="{{ entry_twitter }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_youtube }}</label>
            <div class="col-sm-10">
              <input type="text" name="youtube" value="{{ youtube }}" placeholder="{{ entry_youtube }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_gplus }}</label>
            <div class="col-sm-10">
              <input type="text" name="gplus" value="{{ gplus }}" placeholder="{{ entry_gplus }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_rss }}</label>
            <div class="col-sm-10">
              <input type="text" name="rss" value="{{ rss }}" placeholder="{{ entry_rss }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_pinterest }}</label>
            <div class="col-sm-10">
              <input type="text" name="pinterest" value="{{ pinterest }}" placeholder="{{ entry_pinterest }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_vimeo }}</label>
            <div class="col-sm-10">
              <input type="text" name="vimeo" value="{{ vimeo }}" placeholder="{{ entry_vimeo }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-name">{{ entry_instagram }}</label>
            <div class="col-sm-10">
              <input type="text" name="instagram" value="{{ instagram }}" placeholder="{{ entry_instagram }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
		          
		          <div class="row mb-3">
		            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
		            <div class="col-sm-10">
		              <select name="status" id="input-status" class="form-control">
		                {% if status %}
		                <option value="1" selected="selected">{{ text_enabled }}</option>
		                <option value="0">{{ text_disabled }}</option>
		                {% else %}
		                <option value="1">{{ text_enabled }}</option>
		                <option value="0" selected="selected">{{ text_disabled }}</option>
		                {% endif %}
		              </select>
		            </div>
		          </div>
		          	  
		        </form>
		    </div>
		</div>
	</div>
  	<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  	<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  	<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  	<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
 	<script type="text/javascript"><!--
	function addModule() {
		var user_token = Math.random().toString(36).substr(2);
				
		html  = '<tr id="module-row' + user_token + '">';
		html += '  <td class="text-right">' + ($('tbody tr').length + 1) + '</td>';
		html += '  <td class="text-left"><input type="text" name="newslettersubscribe_module[' + user_token + '][limit]" value="5" placeholder="{{ entry_limit  }}" class="form-control" /></td>';
		html += '  <td class="text-left"><input type="text" name="newslettersubscribe_module[' + user_token + '][width]" value="200" placeholder="{{ entry_width  }}" class="form-control" /> <input type="text" name="newslettersubscribe_module[' + user_token + '][height]" value="200" placeholder="{{ entry_height  }}" class="form-control" /></td>';	
		html += '  <td class="text-left"><button type="button" onclick="$(\'#module-row' + user_token + '\').remove();" data-toggle="tooltip" title="{{ button_remove  }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
		html += '</tr>';
		
		$('#module tbody').append(html);
	}
	//--></script>
</div> 
<script  type ="text/javascript">
	$('#module li:first-child a').tab('show');
	$('#input-description').summernote({
		height: 300
	});
</script> 
<script type="text/javascript"><!--	
$('select[name=\'to\']').bind('change', function() {
	$('#mail .to').hide();
	$('#mail #to-' + $(this).val().replace('_', '-')).show();
	
});

$('select[name=\'to\']').trigger('change');
//--></script> 


<script type="text/javascript"><!--
$.widget('custom.catcomplete', $.ui.autocomplete, {
	_renderMenu: function(ul, items) {
		var self = this, currentCategory = '';
		
		$.each(items, function(index, item) {
			if (item.category != currentCategory) {
				ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
				
				currentCategory = item.category;
			}
			
			self._renderItemData (ul, item);
		});
	}
});

$('input[name=\'customers\']').catcomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=sale/customer/autocomplete&user_token={{ user_token  }}&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {	
				response($.map(json, function(item) {
					return {
						category: item.customer_group,
						label: item.name,
						value: item.customer_id
					}
				}));
			}
		});
		
	}, 
	select: function(event, ui) {
		$('#customer' + ui.item.value).remove();
		
		$('#customer').append('<div id="customer' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="customer[]" value="' + ui.item.value + '" /></div>');

		$('#customer div:odd').attr('class', 'odd');
		$('#customer div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('#customer div img').bind('click', function() {
	$(this).parent().remove();
	
	$('#customer div:odd').attr('class', 'odd');
	$('#customer div:even').attr('class', 'even');	
});
//--></script> 
<script type="text/javascript"><!--	
$('input[name=\'affiliates\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=sale/affiliate/autocomplete&user_token={{ user_token  }}&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.affiliate_id
					}
				}));
			}
		});
		
	}, 
	select: function(event, ui) {
		$('#affiliate' + ui.item.value).remove();
		
		$('#affiliate').append('<div id="affiliate' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="affiliate[]" value="' + ui.item.value + '" /></div>');

		$('#affiliate div:odd').attr('class', 'odd');
		$('#affiliate div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('#affiliate div img').bind('click', function() {
	$(this).parent().remove();
	
	$('#affiliate div:odd').attr('class', 'odd');
	$('#affiliate div:even').attr('class', 'even');	
});

$('input[name=\'products\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token  }}&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.product_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#product' + ui.item.value).remove();
		
		$('#product').append('<div id="product' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product[]" value="' + ui.item.value + '" /></div>');

		$('#product div:odd').attr('class', 'odd');
		$('#product div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('#product div img').bind('click', function() {
	$(this).parent().remove();
	
	$('#product div:odd').attr('class', 'odd');
	$('#product div:even').attr('class', 'even');	
});

function send(url) { 
	
	$.ajax({
		url: url,
		type: 'post',
		data: $('#form-html').serialize(),		
		dataType: 'json',
		beforeSend: function() {
			$('#button-send').attr('disabled', true);
			$('#button-send').before('<span class="wait"><img src="view/image/loading.gif" alt="" />&nbsp;</span>');
		},
		complete: function() {
			$('#button-send').attr('disabled', false);
			//$('.wait').html('Sent mail successfully');
		},				
		success: function(json) {
			$('.success, .warning, .error').remove();
			
			if (json['error']) {
				if (json['error']['warning']) {
					$('.box').before('<div class="warning" style="display: none;">' + json['error']['warning'] + '</div>');
			
					$('.warning').fadeIn('slow');
				}
				
				if (json['error']['subject']) {
					$('input[name=\'subject\']').after('<span class="error">' + json['error']['subject'] + '</span>');
				}	
				
				if (json['error']['message']) {
					$('textarea[name=\'message\']').parent().append('<span class="error">' + json['error']['message'] + '</span>');
				}									
			}			
			
			if (json['next']) {
				if (json['success']) {
					$('.box').before('<div class="success">' + json['success'] + '</div>');
					
					send(json['next']);
				}		
			} else {
				if (json['success']) {
					$('.box').before('<div class="success" style="display: none;">' + json['success'] + '</div>');
			
					$('.success').fadeIn('slow');
				}					
			}				
		}
	});
}
//--></script>
<style>
/* The switch - the box around the slider */
.showtext{
	display:none;
}
.show{
	display:block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<script type="text/javascript">
    $(document).ready( function() {
      $('.themecolor').each( function() {
        $(this).minicolors({
          control: $(this).attr('data-control') || 'hue',
          defaultValue: $(this).attr('data-defaultValue') || '',
          format: $(this).attr('data-format') || 'hex',
          keywords: $(this).attr('data-keywords') || '',
          inline: $(this).attr('data-inline') === 'true',
          letterCase: $(this).attr('data-letterCase') || 'lowercase',
          opacity: $(this).attr('data-opacity'),
          position: $(this).attr('data-position') || 'bottom',
          swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
          change: function(value, opacity) {
            if( !value ) return;
            if( opacity ) value += ', ' + opacity;
            if( typeof console === 'object' ) {
              console.log(value);
            }
          },
          theme: 'bootstrap',
      change: function(hex, opacity) {
        jQuery('.panel .mail-preview iframe').contents().find(jQuery(this).attr('data-target')).css(jQuery(this).attr('data-property'), hex);
      }
        });

      });
    });
  </script>
  <link href="view/javascript/bootstrap/colorpicker/jquery.minicolors.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/bootstrap/colorpicker/jquery.minicolors.min.js"></script> 
{{ footer }}